.page-container.container
  = yield
  .jumbotron
    .container
      %h1.display-3 ROR 101 Tutorial!
      %p 빠띠의 ROR 101 Tutorial 입니다.
  - if user_signed_in?
    = "Hello! " + current_user.email
    = link_to 'Sign out', destroy_user_session_path, method: :delete
  - else
    = link_to 'Sign in', new_user_session_path
    = link_to 'Sign up', new_user_registration_path

  %h3 This Tutorial have...
  .row
    .col-sm-4
      %h4 카테고리 편집
      %a.btn.btn-info{href: "#", role: "button"} View details »
    .col-sm-4
      %h4 포스트 편집
      %a.btn.btn-info{href: "#", role: "button"} View details »
    .col-sm-4
      %h4 로그인, 로그아웃
      %a.btn.btn-info{href: "#", role: "button"} View details »
